<%- include("templates/headerAfter", {page: "/addMembersPage", dropdown: false, backlink: "/homepage", isTaskPage: false}) %>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 d-flex flex-column align-items-center justify-content-center">
                <h1 class="text-center border-bottom">Members of <%= project.name %></h1> <!-- Title -->
                <div >
                    <form action="/addMembersPageSubmit" method="POST" >
                        <div class=" d-flex justify-content-center align-items-center position-relative fixed-top" style="position: absolute; left: 6px; top: -120px;">
                            <!-- <label for="email" class="form-label">Users email</label> -->
                            <input type="hidden" id="projectIdInput" name="projectId" data-project-id="<%= project._id%>" value="<%= project._id%>">
                            <input type="email" class="form-control w-50" id="email" name="memberEmail" placeholder="Enter email address">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                    <!-- Members will be shown on this page -->
                    <div id="membersList">
                        <% project.projectMembers.forEach(member => { %>
                            <div class="container d-flex justify-content-betwee">
                                <div class="container d-flex justify-content-between align-item-center">
                                    <p><%= member %></p>
                                </div>
                                <form action="/deleteMember" method="POST">
                                    <input type="hidden" id="projectId" name="projectId" data-project-id="<%= project._id%>" value="<%= project._id%>">
                                    <input type="hidden" id="memberEmail" name="memberEmail" data-member-id="<%= member %>" value="<%= member %>">
                                    <button type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/footerAfter", {footer: false, dropdown: false, isTaskPage: false, isTimelinePage: false}) %>
