<%- include("templates/headerAfter", {page: "/homepage", dropdown: false, isTaskPage: false, username: username}) %>
    <br><br><br>
    <nav class="navbar navbar-expand-lg border-bottom">
        <div class="container d-flex justify-content-between">
            <span class="navbar-brand">Projects</span>
            <form action="/createProject" method="get">
                <button class="navbar" style="text-decoration: none; size: 5em;">+</button>
            </form>
        </div>
    </nav>
    <br>

    <!-- Projects list -->
    <div class="d-flex justify-content-center" id="projectList">
        <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
            <div class="list-group" id="projectList">
                <% if(projects.length === 0){%>
                    <h1>
                        No projects created
                    </h1>
                <% } else if (projects.length > 0) {%>
                    <% projects.forEach(project=> { %>
                        <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div class="container d-flex justify-content-between align-items-center" style="width: 300px;">
                                    <h6 class="mb-0">
                                        <%= project.name %>
                                    </h6>
                                    <form action="/addMembersPage" method="GET">
                                        <input type="hidden" id="projectIdInput" name="projectId" data-project-id="<%= project._id%>" value="<%= project._id%>">
                                        <button type="submit">                                        
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                                <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                                            </svg>
                                        </button>
                                    </form>
                                    <form action="/deleteProject" method="POST">
                                        <input type="hidden" id="projectDelete" name="projectId" data-project-id="<%= project._id%>" value="<%= project._id%>">
                                        <button type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </button>
                                    </form>
                                    <form action="/taskPage" method="GET">
                                        <input type="hidden" id="projectView" name="projectId" data-project-id="<%= project._id%>" value="<%= project._id%>">
                                        <button type="submit">View</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% }%>
            </div>
        </div>
    </div>
    <!-- Gets replaced one a project is created -->
    <%- include("templates/footerAfter", {footer: false, dropdown: false, isTaskPage: false}) %>