<%- include("templates/headerBefore", { location: location, timezone: timezone, page: page, backlink: backlink }) %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <form action="/signupSubmit" method="post">
            <!-- Hidden fields to carry user data -->
            <input type="hidden" name="username" value="<%= username %>">
            <input type="hidden" name="email" value="<%= email %>">
            <input type="hidden" name="password" value="<%= password %>">

            <!-- Display user's location -->
            <div class="row g-3" style="justify-content: center; max-width: 450px; margin: auto;">
                <div class="col-12 text-start">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="location" value="<%= location %>" readonly>
                </div>
            </div>
            <!-- Display user's time zone -->
            <div class="row g-3" style="justify-content: center; max-width: 450px; margin: auto;">
                <div class="col-12 text-start">
                    <label for="timezone" class="form-label">Time Zone</label>
                    <input type="text" class="form-control" id="timezone" name="timezone" value="<%= timezone %>" readonly>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
<!-- Add a button that redirects to the homepage -->

<%- include("templates/footerBefore") %>
